body {
    font-family: sans-serif;
    background-color: #333;
    color: #bbb;
    text-shadow: 1px 1px 2px #999;
    margin-top: 20%;
}

p {
    text-align: center;
}

p#message {
    font-size: 1.2em;
}
